#technologies {
    min-height: auto;
    padding: 120px 0;
}

#technologies h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--text-3xl);
    font-family: var(--font-title);
}

#technologies .tech__cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin: var(--space-10);
    transition: transform 0.3s ease-in-out;
}
#technologies .tech__cards:hover{
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
}


#technologies .tech__icon {
    width: 70%;
}

#technologies p {
    font-size: var(--text-xl);
    font-family: var(--font-base);
}

/* Responsive technologies */
@media screen and (max-width: 576px) {
    #technologies .tech__cards {
    width: 200px;
}
    #technologies .tech__icon {
        width: 40%;
    }
    #technologies h1 {
        font-size: var(--text-xl);
        padding: var(--space-10) 0;
    }
    #technologies p {
        text-align: justify;
        font-size: var(--text-md);
    }
}
