#portfolio {
    min-height: auto;
    padding: 150px 0;
}

#portfolio h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--text-3xl);
    font-family: var(--font-title);
}
#portfolio h2 {
    color: black;
    text-align: center;
    font-size: var(--text-xl);
    font-family: var(--font-base);
    padding: var(--space-20) 0;
}
#portfolio h2 a {
    display: block;
    text-decoration: none;
    font-size: var(--text-xl);
    font-family: var(--font-base);
}

/* Setting Card */
.portfolio__card__container {
    width: 50%;
    position: relative;
    border: none;
    padding: var(--space-10);
    margin: auto;
}

.portfolio__card__image {
    width: 100%;
    transition: filter 0.2s ease-in-out;
}
.portfolio__card__image:hover {
    cursor: pointer;
    filter: brightness(50%);
    transition: filter 0.2s ease-in-out;
}

.portfolio__click__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color);
    font-size: 100px;
    display: none;
}

.portfolio__card__image:hover + .portfolio__click__info {
    display: block;
    opacity: 0.8;
}

/* Setting Modal */
.portfolio__modal__title {
    text-transform: uppercase;
    font-size: var(--text-xl);
    font-family: var(--font-title);
    color: var(--full-black);
}
.portfolio__modal__summary,
.portfolio__modal__tech {
    font-size: var(--text-lg);
    font-family: var(--font-base);
}

.portfolio__modal__link {
    font-size: var(--text-md);
    text-decoration: none;
    font-family: var(--font-base);
}

.portfolio__modal__button {
    width: 250px;
    height: 50px;
    font-size: var(--text-md);
    font-family: var(--font-base);
    margin: 0 auto;
}

/* Responsive portfolio / modal */
@media screen and (max-width: 1200px) {
    .portfolio__card__container {
        width: 80%;
    }
}
@media screen and (max-width: 992px) {
    .portfolio__card__container {
        width: 95%;
    }
}
@media screen and (max-width: 768px) {
    .portfolio__card__container {
        width: 90%;
    }
}
@media screen and (max-width: 576px) {
    #portfolio {
        padding: 70px 0;
    }
    .portfolio__card__container {
        width: 90%;
    }
    #portfolio h1 {
        font-size: var(--text-xl);
        padding: var(--space-10) 0;
    }
    #portfolio h2 {
        font-size: var(--text-md);
        padding: var(--space-20) 0;
        text-align: center;
    }
    #portfolio h2 a {
        font-size: var(--text-md);
        padding: var(--space-20) 0;
        text-align: center;
    }
    /* Setting Modal */
    .portfolio__modal__title {
        font-size: var(--text-lg);
    }
    .portfolio__modal__button {
        width: 160px;
        height: 30px;
        font-size: var(--text-sm);
    }
    .portfolio__modal__summary,
    .portfolio__modal__tech {
        font-size: var(--text-md);
    }

    .portfolio__modal__link {
        font-size: var(--text-sm);
    }
    .portfolio__click__info {
        font-size: 20px;
    }
}
