.typeWriter {
    font-size: var(--text-2xl);
    font-family: var(--font-base);
    color: var(--font-color);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.typeWriter h1{
    font-size: var(--text-3xl);
    font-family: var(--font-title);
}

@media screen and (max-width: 576px) {
    
    .typeWriter {
        font-size: var(--text-xl);

    }
    .typeWriter h1{
    font-size: var(--text-2xl);
}
}